.root {
	height: 100%;
	width: 100%;
}

@font-face {
	font-family: Brookline;
	src: url(./asset/brookline-font/BrooklineCondensed-nRL3M.ttf);
}

.widget {
	width: 300px;
	height: 600px;
	display: flex;
	flex-direction: column;
	background-color: #7676766b !important;
}

.card {
	background-color: white;
	border: 2px solid #7676766b !important;
	padding: 5px;
	border-radius: 2%;
	box-sizing: border-box;
}

.header {
	display: flex;
	justify-content: center;
	font-family: Helvetica;
	font-weight: bold;
}

.line-clamp {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.card-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.widget-element-container {
	flex-grow: 1;
}

.widget-element-container a {
	text-decoration: none;
}

.widget-elements {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
}

.domain-path {
	padding: 0.2rem;
	color: darkslategray !important;
	display: flex;
	justify-content: space-between;
}

.title {
	text-transform: capitalize;
	font-weight: bold;
	font-size: 18px;
	font-weight: 700;
	color: black;
	padding: 3px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.domain {
	text-transform: capitalize;
}
